<h1>Order#new</h1>
<p>Find me in app/views/order/new.html.erb</p>

<table class="table table-hover">
	<%= render :partial => "line", :collection => @concerts %>
</table>

<%= form_for :order do |f| %>

	Nom: <%= f.text_field :name %>
	Email: <%= f.text_field :email %>
	Rue et Numéro: <%= f.text_field :street %>
	NPA: <%= f.text_field :NPA %>
	Ville :<%= f.text_field :Ville %>

	<%= f.submit "Submit", :class => 'btn btn-large' %>
<% end %>


