
	<tr>
		<td class="span3"><%=checkline.concert.shortname%></td>
		<td class="span3"><%=checkline.concert.subhead%></td>
		<td class="offset2"></td>
		<%  unless checkline.normal == 0 %>
			<td class="span2"><%=checkline.normal%> * <%=checkline.concert.price/100%> CHF = <%=checkline.normal*checkline.concert.price/100%> CHF</td>
		<% else %>
			<td></td>
		<%end%>
		<%  unless checkline.student == 0 %>
			<td class="span2"><%=checkline.student%> * 25 CHF = <%=checkline.student*25%> CHF</td>
		<% else %>
			<td></td>
		<%end%>
	</tr>
