<table class="table table-hover">
		<tbody>
			<% concert.each do |concert| %>
			<tr>
				<td class="span4"><%=concert.subhead%></td>
				<td class="span4"><strong><%=concert.shortname%></strong></td>
				<%if concert.free == true %>
					<td class="span2"></td>
					<td class="span2"></td>
					<td class="span2">Gratuit</td>
				<% elsif concert.not_numbered == true %>
					<td class="span2"></td>
					<td class="span2">Prix unique<br><%=concert.seats.first.price/100%>.-</td>
					<td class="span2">
						<%= button_to "Acheter", new_concert_reservation_path(concert.id), :class => "btn btn-primary span2", :method => "get"%>
					</td>
				<% else %>
					<td class="span2">Catégorie A<br><%=concert.seats.first.price/100%>.-</td>
					<td class="span2">Catégorie B<br><%=concert.seats.last.price/100%>.-<br></td>
					<td class="span2">
						<%= button_to "Acheter", new_concert_reservation_path(concert.id), :class => "btn btn-primary span2", :method => "get"%>
					</td>
				<% end%>
			</tr>
			<%end%>
		</tbody>
		</table>