
<div class="main-row">
	<div class="row">
		<div class="span3">
			<h3>BILLETTERIE</h3>
		</div>
		<div class="span9">
		</div>
	</div>
</div>
<div class="main-row">
	<div class="row">
		<div class="span3">
		</div>
		<div class="span9">
			<% if @concerts.none? %>
        	<p class="lead">La billetterie est actuellement fermée</p>
        	<% else %>
        	<p class="lead">La billetterie est actuellement ouverte</p>
        	<p class="lead">Les enfants de moins de 16 ans bénéficient d'une entrée gratuite. Vous pouvez nous contacter à l'adresse ci-dessus pour leur réserver une place</p>
        	<p class="lead">Le concert des enfants le samedi après-midi est gratuit. Aucune réservation n'est nécessaire et un goûter est offert. Ce dernier commence une heure avant le début du concert</p>
        	<p class="lead">Si vous avez des questions, vous pouvez nous contacter à l'adresse suivante: <%= mail_to ("billetterie@musicales-tannay.ch")%> ou en téléphonant le 079 584 55 94</p>
        	</br>
		</div>
	</div>
</div>



<div class="main-row">

	<table class="table table-hover">
		<tbody>
			<% @concerts.each do |concert| %>
			<tr>
				<td class="span4"><%=concert.subhead%></td>
				<td class="span4"><strong><%=concert.shortname%></strong></td>
				<%if concert.free == true %>
					<td class="span2"></td>
					<td class="span2"></td>
					<td class="span2">Gratuit</td>
				<% elsif concert.not_numbered == true %>
					<td class="span2"></td>
					<td class="span2">Prix unique<br><%=concert.seats.first.price/100%>.-</td>
					<td class="span2">
						<%= form_for @order do |f| %>
						<%= hidden_field_tag 'concert_id', concert.id %>
						<%= f.submit "Acheter", :class => 'btn btn-primary' %><% end %></td>
				<% else %>
					<td class="span2">Catégorie A<br><%=concert.seats.first.price/100%>.-</td>
					<td class="span2">Catégorie B<br><%=concert.seats.last.price/100%>.-<br></td>
					<td class="span2">
						<%= form_for @order do |f| %>
						<%= hidden_field_tag 'concert_id', concert.id %>
						<%= f.submit "Acheter", :class => 'btn btn-primary' %><% end %></td>
				<% end%>
			</tr>
			<%end%>
		</tbody>
	</table>
	 
</div>
<% end %><!--end of if condition-->
</div>