  <% provide(:title, 'Billetterie') %>
  <div class="main-row">
    <div class="row">
      <div class="span3">
         <h3>TEST</h3>
      	</div>
		<div class="span9">
	        <p class="lead">THIS IS PLACEHOLDER</p>
	        <%= form_for @order do |f| %>
	        	<div class="field">
	    			<%= f.label :name %>
	    			<%= f.text_field :name %>
	  			</div>
	 			<div class="field">
	    			<%= f.label :email %>
	    			<%= f.text_field :email %>
	  			</div>
	  		<% end %>
  		</div>
	</div>
  </div>