
<div class="main-row">
	<div class="row">
		<div class="span3">
			<h3>BILLETTERIE</h3>
		</div>
		<div class="span9">
			<% if @concerts.none? %>
        	<p class="lead">La billetterie est actuellement fermée</p>
        	<% elsif Date.today >=  "2015-01-25".to_date %>
        	<p class="lead"> La billetterie est actuellement ouverte. Vous pouvez réserver vos places auprès de Ticketcorner soit par <%=link_to('internet',"http://www.ticketcorner.ch/billets.html?affiliate=TCS&fun=search&action=search&doc=search%2Fsearch&detailadoc=erdetaila&detailbdoc=evdetailb&kudoc=artist&sort_by=score&sort_direction=desc&fuzzy=yes&suchbegriff=tannay")%>, par téléphone au 0900 800 800 (CHF 1.19 / min., tarif réseau fixe), ou à l'un de leurs nombreux <%=link_to('points de vente','http://www.ticketcorner.ch/tickets.html?affiliate=TCS&doc=search/ticketAgency')%>.</p>
        	<p class="lead">Le concert des enfants le samedi après-midi est gratuit. Aucune réservation n'est nécessaire et un goûter est offert. Ce dernier commence une heure avant le début du concert.</p>
        	<p class="lead">Des billets étudiants sont disponibles à la caisse du soir à l'entrée du festival. Les enfants jusqu'à l'âge de 16 ans bénéficient d'une entrée gratuite. Ces places sont assurées dans la mesure des disponibilités-</p>
        	<p class="lead">En cas de questions, n'hésitez pas à nous contacter en envoyant un courrier à <%= mail_to ('billetterie@musicales-tannay.ch')%></p>
        	<% else %>
			<p class="lead">Vous pouvez dès à présent acheter vos billets ici. Le paiement peut se faire par virement bancaire. Il vous est également possible de vous procurer vos billets par l'un des moyens suivants</p>
			<p class="lead">Les billets sont en vente à l'administration commmunale de Tannay du lundi au vendredi, de 8:00 à 12:00, et de 13:00 à 17:00</p>
			<p class="lead">La billetterie sera ouverte dans la cour du château les jours de concerts, 90 minutes avant le début des concerts.</p>
			<p class="lead">Il est possible de commander en téléphonant au <strong>+41 79 946 13 06</strong></p>
			<p class="lead">En cas de problème, n'hésitez pas à nous contacter en envoyant un courrier à <%= mail_to ('billetterie@musicales-tannay.ch')%></p>
		</div>
	</div>
</div>



<div class="main-row">
	<%= form_for @order, :url => { :action => "create" } do |f| %>

		<table class="table table-hover">
			<%= render :partial => "line", :collection => @concerts, :locals =>  { :f =>f } %>
		</table>
		<!-- Button to trigger modal -->

	
</div>
<div class="main-row">
	<div class="row">
		<div class="span3">
			<h3>DEVENEZ MEMBRE</h3>
		</div>
		<div class="span9">
			<p class="lead">Soutenez l'association en devenant membre. Notez que les billets offerts aux membres s'ajoutent aux billets que vous commandez ci-dessus</p>
		</div>
	</div>
	
		<table class="table table-hover">
			<tr>
				<td class="span2">
					<%= f.label :membership_id, "Catégorie de membre" %>
				</td>
				<td class="span5">
					<%= f.select(:membership_id, options_for_select([[' ', nil],['membre individuel : 50.- CHF', 1], ['membre bienfaiteur : 250.- CHF (avantage : 2 billets)', 2], ["membre grand donateur : dès 1'000.- CHF (accès libre au festival de l'année)", 3],["membre entreprise : 500.- CHF (avantage : 4 billets)", 4],["membre entreprise : 1'000.- CHF (avantage : 8 billets)", 5]]), { }, { :class => 'span5' }) %>
				</td>
				<td class="span3"><a href="#myModal" role="button" class="btn btn-large" data-toggle="modal">Commander</a></td>
			</tr>

		</table>


</div>


	 
		<!-- Modal -->
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	    <h3 id="myModalLabel caps">VOS COORDONNÉES</h3>
	  </div>
	  <div class="modal-body">
	    <%= f.label :name, "Nom"%><%= f.text_field :name, :value => @order.name %>
		<%= f.label :emaol, "Adresse E-mail"%><%= f.text_field :email, :value => @order.email %>
		<%= f.label :street, "Rue et Numéro"%> <%= f.text_field :street, :value => @order.street %>
		<%= f.label :NPA, "NPA"%><%= f.text_field :NPA, :value => @order.NPA %>
		<%= f.label :Ville, "Ville"%><%= f.text_field :Ville, :value => @order.Ville %>
	  </div>
	  <div class="modal-footer">
	  	<%= f.submit "Page Suivante", :class => 'btn btn-primary' %>
	    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
	  </div>
	<% end %>
	</div>
<% end %><!--end of if condition-->
</div>
</div>
</div>