<% provide(:title, "NoHeader") %>
<h2>Aperçu de la commande</h2>
<div class="main-row">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Concert</th>
				<th>Billets Ordinaires</th>
				<th>Billets Etudiants</th>
			</tr>
		</thead>
			<%= render :partial => "handle", :collection => @tickets %>
	</table>
	<ul>
		<li><%= @order.name %></li>
		<li><%= @order.email %></li>
		<li><%= @order.street %></li>
		<li><%= @order.Ville %> <%= @order.NPA %></li>
	</ul>
</div>
