<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
<style type="text/css">
 table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
 }
 td {
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 7px;
   height: 7px;
 }
 td.black { background-color: #000; }
 td.white { background-color: #fff; }
</style>

<div class="container">
  <%= image_tag attachments["#{@order.code}.png"].url %>
  <div class="main-row">
    <div class="row">
      <div class="span6">
        <h3>Vos Billets</h3>
        <table class="table table-hover">
        <% unless @tickets.nil? %>
          <thead>
            <tr>
              <th>Concert</th>
              <th>Date & Lieu</th>
              <th></th>
              <th>Billets Ordinaires</th>
              <th>Billets Etudiants</th>
            </tr>
          </thead>
          <%= render :partial => "checkline", :collection => @tickets %>
        <% end %>
        <% unless @order.membership.nil? %>
          <%= render :partial => "member"%>
        <% end %>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
              <th>TOTAL</th>
              <th><%=@order.total/100%> CHF</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="span6">
       <h3>Facturé à</h3>
        <ul class="">
          <li><%= @order.name %></li>
          <li><%= @order.email %></li>
          <li><%= @order.street %></li>
          <li><%= @order.NPA %><%= @order.Ville %></li>
        </ul>
      </div>
      <div>
        <h4>En cas de problème, n'hésitez pas à contacter la <%=mail_to('billetterie@musicales-tannay.ch','billetterie')
      </div>
    </div>
  </div>

</div>
    
  </body>
</html>

