
<p>Partial for selection goes here (after deselection)</p>
<% @reservation=Reservation.new %>
<%= form_for(@reservation, remote: true ) do |f| %>
	<%= f.hidden_field :seat_id, :id => "seat_id_field" %>
	<%= f.submit "#test", class: "btn btn-mini", onclick: "getdiv(this)" %>

<%end%>

<% if seat.nil? %>
	<% seat=Reservation.last.seat %>
<% end %>
<%=form_for(seat.reservation, html: {method: :delete}, remote: true ) do |f| %>
	<%=f.submit "seat id to be deleted", class: "btn btn-mini btn-primary", onclick: "getdiv(this)"%>
<%end%>