
<div class="main-row">
	<div class="row">
		<div class="span3">
			<h3>CHOIX DE PLACE</h3>
		</div>
		<div class="span9">
		</div>
	</div>
</div>

<script>
	current_seat=0;
</script>

<script>
	function getdiv(button) {
		parent=button.parentNode
		if (parent.id == "new_reservation") {
			parent=parent.parentNode
			current_seat=parent.id
		} else {
			current_seat=parent.id
		}
		document.getElementById(current_seat).id="test"
	}
</script>
<script>
	function getdiv2(button) {
		parent2=button.parentNode.parentNode
		current_seat=parent2.id
		document.getElementById(current_seat).id="test"
	}
</script>
<script>
	function afteraction() {
		alert(current_seat);
		document.getElementById("test").id=current_seat
	}
</script>

<div class="main-row">
	<table class="talble table-hover">
		<% @tickets.each do |ticket| %>
			<tr>
				<td><%=ticket.concert.subhead%></td>
				<td><%=ticket.concert.id%></td>
				<td><a href=<%="#ticket_"+"#{ticket.concert.id}"%> role="button" class="btn" data-toggle="modal">Launch modal</td>
				<div id=<%="ticket_"+"#{ticket.concert.id}"%> class="modal large hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h3 id="myModalLabel caps">VOS COORDONNÉES</h3>
					</div>
					<div class="modal-body">
						<%=ticket.concert_id%>
							<% @seats.where('concert_id=?',ticket.concert.id).each do |seat| %>
								<%if seat.reservation.nil? == true %>
									<div id=<%="seat_"+"#{seat.id}"%>>
										<%= render partial: 'selection'%>
									</div>
								<% elsif seat.reservation.order_id == @order.id %>
									<div id=<%="seat_"+"#{seat.id}"%>>
										<%= render partial:  'selection2'%> 
									</div>
								<% else %>
									<div id=<%="seat_"+"#{seat.id}"%>>
										<button class="btn btn-mini disabled"><%=seat.id%></button>
									</div>
								<% end %>
							<%end%>
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>
					</div>
				</div>
			</tr>
		<%end%>
	</table>

	
</div>




</div>
</div>
</div>
