
<div class="main-row">
	<div class="row">
		<div class="span3">
			<h3>BILLETTERIE</h3>
		</div>
		<div class="span9">
			<p class="lead"><%=@concert.subhead%></br><strong><%=@concert.head%></strong></p>
			<p>Cliquez sur les sièges que vous souhaitez réserver</p>
			<p><strong>Légende:</strong>
				<button class="btn btn-mini btn-success">Libre</button>
				<button class="btn btn-mini btn-primary">Sélectionné</button>
				<button class="btn btn-mini disabled">Indisponible</button>
			</p>
		</div>
	</div>
</div>

<script>
	current_seat=0;
</script>

<% if @concert.not_numbered==true %>
	<script>
		count=<%=escape_javascript(@seat_count.to_s)%>;
		function pushseat_not_numbered(button) {
			current_seat=button.id
			if ($(button).attr("class")=="btn btn-mini btn-success create") {
				$('input#new_reservation_seat_id')[0].value=current_seat

				$("#"+(current_seat-1)).attr("id",current_seat)
				
				current_seat = parseInt(current_seat)+1
				$(button).attr("id",current_seat)
				
				count = parseInt(count)+1
				$(seat_count).html(count)
				
				$('form#new_reservation').trigger('submit.rails')
			}
			else {
				
				if (parseInt(count) <=0) {
					alert: "vous n'avez pas de sièges"
				} else {
					$('input#seat_id')[0].value=current_seat

					current_seat = parseInt(current_seat)-1
					$(button).attr("id",current_seat)
					count = parseInt(count)-1
					$(seat_count).html(count)
					$('form#delete_reservation_seat_id').trigger('submit.rails')
					$("#"+(current_seat+2)).attr("id", parseInt(current_seat)+1)
				}

			}
		}
	</script>
<% else %>
	<script>
		function pushseat(button) {
			current_seat=button.id
			if ($(button).attr("class")=="btn btn-mini btn-success create") {
				$(button).removeClass('btn-success create')
				$(button).addClass('btn-primary')
				$('input#new_reservation_seat_id')[0].value=current_seat
				$('form#new_reservation').trigger('submit.rails')
			}
			else {
				$(button).removeClass('btn-primary')
				$(button).addClass('btn-success create')
				$('input#seat_id')[0].value=current_seat
				$('form#delete_reservation_seat_id').trigger('submit.rails')
			}
		}
	</script>
<% end %>

<div class="main-row">
	<div class="row">
		<div class="span9 offset3">

				<% if @concert.free == true %>
					<td class="span2"></td>
					<td class="span2"></td>
					<td class="span2">Gratuit</td>
				<% elsif @concert.not_numbered == true %>
					<table  class="table table-hover table-seats">
						<tbody>
							<tr>
								<td class="span2">Prix unique:</td>
								<td class="span2"><%=@first_seat.price/100%>.-</td>
								<td class="span2">
									<button class="btn btn-mini destroy" onclick="pushseat_not_numbered(this)" id=<%=@start%>>-</button>
									<div id="seat_count"><%=@seat_count%></div>
									<button class="btn btn-mini btn-success create" onclick="pushseat_not_numbered(this)" id=<%=@start+1%>>+</button>
								</td>
							</tr>
						</tbody>
					</table>
		</div>
	</div>	
				<% else %>
				<td class="span2"></td>
				<td class="span2"></td>
				<td class="span2"></td>
		</div>
	</div>
	<table class="table table-hover table-seats">
		<tbody>
			<tr>	
				<td><strong></br>Cat. A:</strong></td>
				<td></br><%=@first_seat.price/100%>.-</td>
				<% 25.times do %>
					<td>
					</td>
				<% end %> 
			</tr>
			<% 1..475.times do |seat| %>
				<% if seat % 25 == 0  && seat %475 !=250 %>
					<tr>
						<td>
							<%=@rows[(seat % 475)/25]%>
						</td>
						<td>
							<% if @taken_seat_array[seat]==seat+1 %>
								<button class="btn btn-mini disabled" id=<%=seat+1%>><%=seat%25+1%></button>
							<% elsif @taken_by_user_seat_array[seat]==seat+1%>
								<button class="btn btn-mini btn-primary" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% else %>
								<button class="btn btn-mini btn-success create" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% end%>
						</td>
				<% elsif seat % 25 == 13 %>
						<td>
							<p style="margin-left:5em"></p>
						</td>
						<td>
							<% if @taken_seat_array[seat]==seat+1%>
								<button class="btn btn-mini disabled" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% elsif @taken_by_user_seat_array[seat]==seat+1%>
								<button class="btn btn-mini btn-primary" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% else %>
								<button class="btn btn-mini btn-success create" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% end%>
						</td>
				<% elsif seat == 250 %>
					<tr>
						<td><strong></br>Cat. B:</strong></td>
						<td></br><%=@last_seat.price/100%>.-</td>
							<% 26.times do %>
								<td></br>
								</td>
							<% end %> 
					</tr>
					<tr>
						<td>
							<%=@rows[(seat % 475)/25]%>
						</td>
						<td>
							<% if @taken_seat_array[seat]==seat+1%>
								<button class="btn btn-mini disabled" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% elsif @taken_by_user_seat_array[seat]==seat+1%>
								<button class="btn btn-mini btn-primary" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% else %>
								<button class="btn btn-mini btn-success create" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% end%>
						</td>
				<% elsif seat % 25 == 24 %>
						<td>
							<% if @taken_seat_array[seat]==seat+1%>
								<button class="btn btn-mini disabled" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% elsif @taken_by_user_seat_array[seat]==seat+1%>
								<button class="btn btn-mini btn-primary" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% else %>
								<button class="btn btn-mini btn-success create" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% end%>
						</td>
					</tr>
				<% else %>
						<td>
							<% if @taken_seat_array[seat]==seat+1%>
								<button class="btn btn-mini disabled" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% elsif @taken_by_user_seat_array[seat]==seat+1%>
								<button class="btn btn-mini btn-primary" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% else %>
								<button class="btn btn-mini btn-success create" onclick="pushseat(this)" id=<%=@seats[seat].id%>><%=seat%25+1%></button>
							<% end%>
						</td>
				<% end %>
			<% end %>
		</tbody>
	</table>
	<% end%>
	<div class="row span2 offset10">
		<%= form_for(@reservation, remote: true ) do |f| %>
			<%= f.hidden_field :seat_id, :value => "", :id => "new_reservation_seat_id"%>
		<%= f.submit "create reservation", class: "btn btn-mini", :style => "display:none" %>
		<% end %>
		<%=form_tag({controller: "reservations", action: "custom"}, :id =>"delete_reservation_seat_id", remote: true, method: "post")%>
			<%=hidden_field_tag("seat_id","", :class => "seat_id")%>
		<%=submit_tag "delete reservation", class: "btn btn-primary btn-mini", id:"button", :style=> "display:none"%>
		</form>

	<%= button_to "Continuer", order_basket_path(@order), :class => "btn btn-primary span2", :method => "get"%>
			
	</div>
	




</div>
