<% provide(:title, 'Espace Presse') %>

<div class="main-row">
	<div class="row">
		<div class="span3">
        	<h3>ESPACE PRESSE</h3>
      	</div>
      	<div class="span9">
        	<p class="lead">Le dossier de presse est téléchargeable <%=link_to('ici', 'http://photos.musicales-tannay.ch/photos/VMT_dossier_presentation_2014.pdf')%></p>
          <p class="lead">Des photos en haute résolution sont disponible ci-dessous. ATTENTION: certaines photos peuvent prendre longtemps à télécharger sur des connections internet lentes</p>
      	</div>
    </div>
</div>
<div class="main-row">
	<div class="row-fluid">
		<div class="span3">
      <h3>ARTISTES 2014</h3>
    </div>
  </div>
    <div class="row-fluid">
      <ul>
        <li><%=link_to("Adam Laloum", 'http://photos.musicales-tannay.ch/photos/artist_2014_1.tif')%></li>
        <li><%=link_to("Louis Schwizgebel-Wang", 'http://photos.musicales-tannay.ch/photos/artist_2014_2.tif')%></li>
        <li><%=link_to("David Greilsammer", 'http://photos.musicales-tannay.ch/photos/artist_2014_3.tif')%></li>
        <li><%=link_to("Avi Avital", 'http://photos.musicales-tannay.ch/photos/artist_2014_4.tif')%></li>
        <li><%=link_to("Edgar Moreau", 'http://photos.musicales-tannay.ch/photos/artist_2014_5.tif')%></li>
        <li><%=link_to("Renaud Capuçon", 'http://photos.musicales-tannay.ch/photos/artist_2014_6.tif')%></li>
        <li><%=link_to("Rachel Kolly d'Alba", 'http://photos.musicales-tannay.ch/photos/artist_2014_7.tif')%></li>
        <li><%=link_to("Pierre-Yves Hodique", 'http://photos.musicales-tannay.ch/photos/artist_2014_8.tif')%></li>
        <li><%=link_to("Trio Wanderer", 'http://photos.musicales-tannay.ch/photos/artist_2014_9.tif')%></li>
      </ul>
    </div>
</div>
<div class="main-row">
  <div class="row-fluid">
    <div class="span3">
      <h3>LE LIEU</h3>
    </div>
  </div>
    <div class="row-fluid">
      <ul>
        <li><%=link_to("Lieu 1", 'espacepresse/lieu_1.jpg')%></li>
        <li><%=link_to("Lieu 2", 'espacepresse/lieu_2.jpg')%></li>
        <li><%=link_to("Lieu 3", 'espacepresse/lieu_3.jpg')%></li>
        <li><%=link_to("Lieu 4", 'espacepresse/lieu_4.jpg')%></li>
        <li><%=link_to("Lieu 5", 'http://photos.musicales-tannay.ch/photos/lieu_5')%></li>
      </ul>
    </div>
</div>