
<div class="lone-row">
  <div class="row">
    <div class="span12">
      <h1 style="float:left">BIENVENUE <small> AUX VARIATIONS MUSICALES DE TANNAY</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead red" style="font-size:21px">Du 22 au 30 août 2015</p>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead" style="text-align:justify">Chaque été, les Variations Musicales de Tannay proposent des concerts de qualité dans un lieu d’exception: le château de Tannay et son parc dominant le lac. Une programmation soignée avec des artistes de haut niveau répond à l’attente d’un large public qui accède ainsi aux plus belles œuvres du répertoire classique. A quoi s’ajoutent une grande proximité avec les musiciens et une ambiance conviviale. Initier les jeunes à la musique classique est également une priorité du Festival en leur offrant notament un concert didactique et gratuit le samedi apreès-midi. La promotion de jeunes artistes est aussi l’un de ses objectifs. <%=link_to("Découvrir le programme",programme2015_path, :class => "hlink")%></p>
      <!--<p class="lead" style="text-align:justify">
        L’édition 2014  des « Variations Musicales de Tannay » a proposé à nouveau une programmation de très grande qualité avec les meilleurs interprètes du moment qui partagent avec nous, sur le plan musical,  notre recherche d’excellence.  C’est ainsi que « les Variations » ont reçu en ouverture, dimanche 24 août, le grand violoniste <%=link_to("Renaud Capuçon", concert_path(33), :class => "hlink")%>, accompagné par l’Orchestre du Festival, composé d’une quarantaine de musiciens de l’Orchestre de la Suisse Romande. Les soirées se sont poursuivies ensuite dans la même veine avec ce tout grand poète du piano qu’est <%=link_to("Adam Laloum", concert_path(27), :class => "hlink")%>, avec le violoncelle charmeur et virtuose d’<%=link_to("Edgar Moreau", concert_path(34), :class => "hlink")%>, avec la belle complicité de <%=link_to("Louis Schwizgebel", concert_path(35), :class => "hlink")%> et <%=link_to("Rachel Kolly d’Alba", concert_path(35), :class => "hlink")%>, tous deux accompagnés par l’Orchestre de Chambre de Genève, avec l’extraordinaire sensibilité du <%=link_to("Trio Wanderer", concert_path(26), :class => "hlink")%> le samedi 30 août, pour se terminer le dimanche 31 avec le Geneva Camerata et <%=link_to("Avi Avital", concert_path(32), :class => "hlink")%> qui fait aujourd’hui entendre la mandoline dans les salles les plus prestigieuses du monde entier.<!--Fort du succès remporté par l’édition 2013 qui avait commencé par l’éblouissante prestation de Katia et Marielle Labèque et qui vient de se terminer en beauté par un week-end de toute grande qualité, avec notamment le magistral récital de Nicolas Angelich, les Variations Musicales de Tannay travaillent déjà à la programmation 2014 qui devrait être plus belle encore. Elles se tiendront du 24 au 31 août dans le beau parc du château de Tannay dominant le lac.
        Des artistes de haut niveau, un festival dans un parc aux arbres centenaires, une équipe entièrement bénévole avec une seule volonté : partager la passion de la musique classique. Chaque été, à fin août, les Variations Musicales de Tannay proposent ainsi une série de concerts de qualité.-->
      </p>
    </div>
  </div>
  <!--<div class="row">
    <div class="span12">
      <h2 class="red">La programmation complète de l’édition 2014 sera publiée dans les semaines à venir et la billetterie ouverte dès le 1er mai.</h2>
    </div>
  </div>-->
</div>
<!--<div class="main-row">
  <div class="row">
    <div class="span12">
      <h3 style="float:left">Concert du dimanche 1er septembre</h3>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead" style="text-align:justify">L’édition 2013 des Variations Musicales de Tannay a connu un très beau succès tant par la haute qualité des artistes invités que par l’affluence d’un public enthousiaste. Le piano y avait une place de choix et fut merveilleusement servi tant par les sœurs Labèque que par Nicolas Angelich ou encore Béatrice Berrut, accompagné, au meilleur de sa forme,  par l’Orchestre du Festival composé de musiciens de l’OSR. Sans oublier le violoncelle d’Edgard Moreau qui a fortement impressionné le public par l’énergie et la sensibilité de son jeu. Quant aux enfants, ils ont pu se régaler à l’écoute de « Bastien et Bastienne », le petit opéra de Mozart  présenté à leur intention par un groupe de musiciens de l’OCG. Les Variations Musicales de Tannay prennent ainsi une place de choix dans la ronde des festival classiques de l’été !</p>
    </div>
  </div>
</div>-->
<div class="row" style="padding-top:20px">
  <div class="span4">
    <a href= "<%=programme_path%>" class="thumbnail">
      <%= image_tag "http://photos.musicales-tannay.ch/home-page-2015.jpg" %>
    </a>
    <h2><%=link_to("Programme", programme2015_path, :class => "hlink")%></h2>
    <p><%=link_to("Découvrir le programme complet...", programme2015_path)%> </br></p>
  </div><!--/span-->
  <div class="span4">
    <a href="<%=billetterie_path%>" class="thumbnail">
      <%= image_tag "http://photos.musicales-tannay.ch/home-page-2015-1.jpg" %>
    </a>
  <h2><%=link_to('Billetterie', billetterie_path, :class => "hlink")%></h2>
  <p>La billetterie est actuellement ouverte. <%=link_to("Où et comment reserver des billets...", billetterie_path)%></p>
  </div><!--/span-->
  <div class="span4">
    <div class="item">
    <a href="<%=association_path%>" class="thumbnail">
      <%= image_tag "http://photos.musicales-tannay.ch/home-page-2015-2.jpg" %>
    </a>
    </div>
    <h2><%=link_to("Participez", association_path, :class => "hlink")%></h2>
    <p>Chaque année, une équipe de bénévoles participe en coulisses à la préparation du festival. Nous rejoindre ? <%=link_to("Renseignements et contact…", association_path)%></p>
  </div><!--/span-->
</div><!--/row-->
<div class="lone-row">
  <div class="row">
    <div class="span12">
      <p class="lead" style="text-align:justify">
        <p class="lead" style="text-align:justify">
          Les Variations Musicales de Tannay s’assurent d’année en année la présence de musiciens de très grande renommée que l'on peut entendre sur les scènes internationales les plus prestigieuses et accompagnés par des formations orchestrales de qualité.
        </p>
        <p class="lead" style="text-align:justify">
          On peut citer ainsi parmi beaucoup d’autres les soeurs Labèque, Gvantsa et Khatia Buniatishvili, Nicholas Angelich, Alexandre Tharaud, Ophélie Gaillard ou encore le Trio Wanderer, Renaud Capuçon, Alexandra Conunova et Boris Beresovsky.
        </p>
        <p class="lead" style="text-align:justify">
          Le Festival accorde aussi une place importante à de jeunes interprètes ayant fait montre déjà d’un talent rare comme Louis Schwizgebel, Mélodie Zhao, Béatrice Berrut, Camille Thomas, Rachel Kolly d’Alba et Edgard Moreau.
        </p>
    </div>
  </div>
</div>
<!--<div class="main-row">
  <div class="row">
  <div class="span12">
    <p class="lead" style="text-align:justify;font-weight:bold">La programmation complète de l’édition 2014 sera publiée dans les semaines à venir et la billetterie ouverte dès le 1er mai.</p>
  </div>
</div>-->
  <!--<div class="row">
    <div class="span12">
      <h3 style="float:left">Buffet et boissons</h3>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead" style="text-align:justify">Tous les jours avant et après les concerts, Régéservice propose une restauration variée pour que l’événement soit un moment unique et convivial. Un goûter sera préparé et servi aux enfants le samedi 31 août à 15h30. Offert par Mirabaud & Cie, Banquiers Privés.</p>
    </div>
  </div>
</div>-->



        

    </div><!--/.fluid-container-->
