
<div class="main-row">
  <div class="row">
    <div class="span9 offset3">
      <h2 style="float:left">BIENVENUE <small> SUR LE SITE DES VARIATIONS MUSICALES DE TANNAY</small></h2>
    </div>
  </div>
  <div class="row">
    <div class="span3">
      <h2 class="red">DU 25 AOÛT AU 1ER SEPTEMBRE 2013 AU CHATEAU DE TANNAY</h2>
    </div>
    <div class="span9">
      <p class="lead" style="text-align:justify">
        Des artistes de haut niveau, un festival dans un parc aux arbres centenaires, une équipe entièrement bénévole avec une seule volonté : partager la passion de la musique classique. Chaque été, à fin août, les Variations Musicales de Tannay proposent ainsi une série de concerts de qualité. Le festival se tient dans un lieu d'exception : le château de Tannay, avec sa charmante cour et son grand parc dominant le lac. De la beauté de ce décor se dégage un climat de sérénité très propice à la musique. Une programmation soignée ainsi que des prestations de haut niveau font le succès de cette manifestation auprès d'un public heureux d'accéder ainsi aux plus belles oeuvres du répertoire classique, dans une grande proximité avec les musiciens et dans une ambiance conviviale et détendue.
      </p>
    </div>
  </div>
</div>
  
<div class="row" style="padding-top:20px">
  <div class="span3">
    <a href= "<%=programme_path%>" class="thumbnail">
      <%= image_tag "1home260.jpg" %>
    </a>
    <h2><%=link_to("Programme 2012", programme_path, :class => "hlink")%></h2>
    <p>Le programme pour la prochaine édition n'est pas encore disponbile. En attendant, nous vous invitons à consulter le programme de l'édition 2012. <%=link_to(" Découvrez le programme complet.", programme_path)%> </br></p>
  </div><!--/span-->
  <div class="span3">
    <a href="<%=association_path%>" class="thumbnail">
      <%= image_tag "2home260.jpg" %>
    </a>
  <h2><%=link_to("L'association", association_path, :class => "hlink")%></h2>
  <p>Les « Variations Musicales de Tannay » sont une association sans but lucratif. Quels sont ses statuts et comment devenir membre ? <%=link_to("Tout se trouve ici.", association_path)%></p>
  </div><!--/span-->
  <div class="span3">
    <a href="<%=association_path%>" class="thumbnail">
      <%= image_tag "3home260.jpg" %>
    </a>
    <h2><%=link_to("Participez", association_path, :class => "hlink")%></h2>
    <p>Chaque année, une équipe de bénévoles participe en coulisses à la préparation du festival. Nous rejoindre ? <%=link_to("Renseignements et contact…", association_path)%></p>
  </div><!--/span-->
	<div class="span3">
    <a href="http://www.fb.com/musicalestannay" class="thumbnail">
      <%= image_tag "4home260.jpg" %>
    </a>
    <h2><%=link_to("Nous suivre", "http://www.fb.com/musicalestannay", :class => "hlink")%></h2>
    <p>Pour connaître les nouveautés du festival en temps réel, vous pouvez nous suivre sur notre page <%=link_to("Facebook", "http://www.fb.com/musicalestannay")%></h2></p>
  </div><!--/span-->
</div><!--/row-->


</div>
        

    </div><!--/.fluid-container-->
