
<div class="lone-row">
  <div class="row">
    <div class="span12">
      <h1 style="float:left">BIENVENUE <small> AUX VARIATIONS MUSICALES DE TANNAY</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2 class="red">DU 25 AOÛT AU 1ER SEPTEMBRE 2013 AU CHATEAU DE TANNAY</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead" style="text-align:justify">
        Des artistes de haut niveau, un festival dans un parc aux arbres centenaires, une équipe entièrement bénévole avec une seule volonté : partager la passion de la musique classique. Chaque été, à fin août, les Variations Musicales de Tannay proposent ainsi une série de concerts de qualité.
      </p>
    </div>
  </div>
</div>
  
<div class="row main-row" style="padding-top:20px">
  <div class="span4">
    <a href= "<%=programme_path%>" class="thumbnail">
      <%= image_tag "1home360.jpg" %>
    </a>
    <h2><%=link_to("Programme 2013", programme_path, :class => "hlink")%></h2>
    <p>Le programme de la prochaine édition est désormais disponible. <%=link_to(" Découvrez le programme complet.", programme_path)%> </br></p>
  </div><!--/span-->
  <div class="span4">
    <a href="<%=billetterie_path%>" class="thumbnail">
      <%= image_tag "2home360.jpg" %>
    </a>
  <h2><%=link_to('Billetterie', billetterie_path, :class => "hlink")%></h2>
  <p>Il est désormais possible de commander ses billets par notre site. <%=link_to("Achetez vos billets en ligne...", billetterie_path)%></p>
  </div><!--/span-->
  <div class="span4">
    <div class="item">
    <a href="<%=association_path%>" class="thumbnail">
      <%= image_tag "3home360.jpg" %>
    </a>
    </div>
    <h2><%=link_to("Participez", association_path, :class => "hlink")%></h2>
    <p>Chaque année, une équipe de bénévoles participe en coulisses à la préparation du festival. Nous rejoindre ? <%=link_to("Renseignements et contact…", association_path)%></p>
  </div><!--/span-->
</div><!--/row-->

<div class="row main-row">
  <div class="span12">
    <p class="lead">Le festival se tient dans un lieu d'exception : le château de Tannay, avec sa charmante cour et son grand parc dominant le lac. De la beauté de ce décor se dégage un climat de sérénité très propice à la musique. Une programmation soignée ainsi que des prestations de haut niveau font le succès de cette manifestation auprès d'un public heureux d'accéder aux plus belles oeuvres du répertoire classique, dans une grande proximité avec les musiciens et une ambiance conviviale et détendue.</p>
  </div>
</div>



        

    </div><!--/.fluid-container-->
