
<div class="lone-row">
  <div class="row">
    <div class="span12">
      <h1 style="float:left">BIENVENUE <small> AUX VARIATIONS MUSICALES DE TANNAY</small></h1>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <h2 class="red">LA CINQUIÈME ÉDITION AURA LIEU DU 24 AU 31 AOÛT 2014!</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead" style="text-align:justify">
        Chaque été, les Variations Musicales de Tannay (VMT) proposent  des concerts classiques dans un lieu d’exception : le beau parc du château du village, aux portes de Genève, surplombant le lac et  planté de grands arbres centenaires ! Ce festival qui se tient à fin août offre à son public, varié et exigeant, des prestations de très haut niveau, grâce à une programmation soignée.
        <!--Fort du succès remporté par l’édition 2013 qui avait commencé par l’éblouissante prestation de Katia et Marielle Labèque et qui vient de se terminer en beauté par un week-end de toute grande qualité, avec notamment le magistral récital de Nicolas Angelich, les Variations Musicales de Tannay travaillent déjà à la programmation 2014 qui devrait être plus belle encore. Elles se tiendront du 24 au 31 août dans le beau parc du château de Tannay dominant le lac.
        Des artistes de haut niveau, un festival dans un parc aux arbres centenaires, une équipe entièrement bénévole avec une seule volonté : partager la passion de la musique classique. Chaque été, à fin août, les Variations Musicales de Tannay proposent ainsi une série de concerts de qualité.-->
      </p>
    </div>
  </div>
  <!--<div class="row">
    <div class="span12">
      <h2 class="red">La programmation complète de l’édition 2014 sera publiée dans les semaines à venir et la billetterie ouverte dès le 1er mai.</h2>
    </div>
  </div>-->
</div>
<!--<div class="main-row">
  <div class="row">
    <div class="span12">
      <h3 style="float:left">Concert du dimanche 1er septembre</h3>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead" style="text-align:justify">L’édition 2013 des Variations Musicales de Tannay a connu un très beau succès tant par la haute qualité des artistes invités que par l’affluence d’un public enthousiaste. Le piano y avait une place de choix et fut merveilleusement servi tant par les sœurs Labèque que par Nicolas Angelich ou encore Béatrice Berrut, accompagné, au meilleur de sa forme,  par l’Orchestre du Festival composé de musiciens de l’OSR. Sans oublier le violoncelle d’Edgard Moreau qui a fortement impressionné le public par l’énergie et la sensibilité de son jeu. Quant aux enfants, ils ont pu se régaler à l’écoute de « Bastien et Bastienne », le petit opéra de Mozart  présenté à leur intention par un groupe de musiciens de l’OCG. Les Variations Musicales de Tannay prennent ainsi une place de choix dans la ronde des festival classiques de l’été !</p>
    </div>
  </div>
</div>-->
<div class="row" style="padding-top:20px">
  <div class="span4">
    <a href= "<%=programme_path%>" class="thumbnail">
      <%= image_tag "1home360.jpg" %>
    </a>
    <h2><%=link_to("Programme", programme_path, :class => "hlink")%></h2>
    <p>Le succès des Variations Musicales de Tannay repose sur une programmation de qualité. Le programme 2014 sera publié dans les semaines à venir. En attendant n'hésitez pas à consulter ceux des années précédentes: <%=link_to("2013,", programme2013_path)%> <%=link_to("2012.", programme2012_path)%> </br></p>
  </div><!--/span-->
  <div class="span4">
    <a href="<%=billetterie_path%>" class="thumbnail">
      <%= image_tag "2home360.jpg" %>
    </a>
  <h2><%=link_to('Billetterie', billetterie_path, :class => "hlink")%></h2>
  <p>La billetterie est actuellement fermée. Dès le 1er mai, vous pourrez les obtenir en passant par ce lien <%=link_to("Accéder à la Billetterie...", billetterie_path)%></p>
  </div><!--/span-->
  <div class="span4">
    <div class="item">
    <a href="<%=association_path%>" class="thumbnail">
      <%= image_tag "3home360.jpg" %>
    </a>
    </div>
    <h2><%=link_to("Participez", association_path, :class => "hlink")%></h2>
    <p>Chaque année, une équipe de bénévoles participe en coulisses à la préparation du festival. Nous rejoindre ? <%=link_to("Renseignements et contact…", association_path)%></p>
  </div><!--/span-->
</div><!--/row-->
<div class="lone-row">
  <div class="row">
    <div class="span12">
      <p class="lead" style="text-align:justify">
        <p class="lead" style="text-align:justify">
          C’est ainsi que le public de Tannay a déjà pu entendre avec bonheur Katia et Marielle Labèque, Ophélie Gaillard, Gvantsa et Katia Buniatishvili, Laure Favre-Khan, Nicolas Angelich, Alexandre Tharaud ou encore Nemanja Radulovic. Notre ambitieuse volonté d’offrir le meilleur devrait s’affirmer encore en 2014 puisque les « Variations Musicales de Tannay » auront notamment le plaisir de recevoir le grand violoniste Renaud Capuçon ainsi que le Trio Wanderer! Cette recherche d’excellence n’a nullement empêché que le Festival fasse également une très belle place à de jeunes interprètes ayant fait montre, déjà,  d’un talent exceptionnel comme Mélodie Zhao, Béatrice Berrut ou Edgard Moreau. Les VMT vous offriront cette année encore de belles surprises !
        </p>
    </div>
  </div>
</div>
<div class="main-row">
  <div class="row">
  <div class="span12">
    <p class="lead" style="text-align:justify;font-weight:bold">La programmation complète de l’édition 2014 sera publiée dans les semaines à venir et la billetterie ouverte dès le 1er mai.</p>
  </div>
</div>
  <!--<div class="row">
    <div class="span12">
      <h3 style="float:left">Buffet et boissons</h3>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <p class="lead" style="text-align:justify">Tous les jours avant et après les concerts, Régéservice propose une restauration variée pour que l’événement soit un moment unique et convivial. Un goûter sera préparé et servi aux enfants le samedi 31 août à 15h30. Offert par Mirabaud & Cie, Banquiers Privés.</p>
    </div>
  </div>-->
</div>



        

    </div><!--/.fluid-container-->
