  <% provide(:title, 'Programme 2012') %>
  <div class="title-row">
    <div class="row">
      <div class="span3">
         <h3>PROGRAMME 2012</h3>
      </div>
      <div class="span9">
        <p class="lead">Le programme pour la prochaine édition n'est pas encore disponible. Pour vous donner un avant-goût, nous vous invitons à consulter le programme de l'édition 2012.</p>
      </div>
    </div>
  </div>
  <div class="main-row">
    <div class="row sub-row">
      <div class="span3">
        <a href="<%=arthus_piano_trio_path%>" class="thumbnail">
          <%= image_tag "1Arthus260.jpg" %>
        </a>
      </div>
      <div class="span9">
        <h4 class="red date">Dimanche 26 août, 17h. concert à la Fondation Engelberts : COMPLET !</h4>
        <h3><%=link_to("ARTHUS PIANO TRIO avec Simone Flükiger violon, HunJu Sohnn piano et Arthur Guignard violoncelle", arthus_piano_trio_path, :class => 'hlink')%> </h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="">
              <li>
                Brahms, trio en do maj. op. 87
              </li>
              <li>
                Chostakovitch, premier trio op. 8
              </li>
              <li>
                Schumann, trio en ré min. op. 63
              </li>
            </ul>
          </div>
        </div>
        <p>
          Après avoir obtenu un brillant diplôme d’enseignement et de concert à la Haute École de Musique de Genève, Simone Flükiger a poursuivi ses études musicales à Londres et Berlin. Elle est membre remplaçante de l’OSR ainsi que de l’Orchestre de la radio de Berlin avec lequel elle vient d’effectuer une tournée d’un mois au Japon et en Corée. Pianiste coréenne, HunJu Sohn s’est quant à elle produite en soliste et en musique de chambre dans de nombreux pays, en Europe, aux Etats-Unis et en Asie. Elle est régulièrement invitée au Festival de Verbier. Artur Guignard, violoncelliste, est pour sa part lauréat de nombreux prix internationaux. <%=link_to("En savoir plus...", arthus_piano_trio_path)%>
        </p>
      </div>
    </div><!--/subrow-->
    <div class="row sub-row">
      <div class="span3">
        <a href="<%=ophelie_gaillard_path%>" class="thumbnail">
          <%= image_tag "1OGaillard260.jpg" %>
        </a>
      </div>
      <div class="span9">
        <h4 class="red date">Vendredi 31 août 20h.30 dans le parc du château de Tannay</h4>
        <h3><%=link_to("OPHÉLIE GAILLARD violoncelliste avec l’orchestre du Festival sous la direction de Jonathan Haskell", ophelie_gaillard_path, :class => 'hlink')%></h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="">
              <li>
                Mozart, ouverture de Don Juan
              </li>
              <li>
                Dvorak, rondo op. 94 
              </li>
              <li>
                Grieg, suite Holberg op. 40
              </li>
              <li>
                Schumann, concerto pour violoncelle et orchestre op. 129
              </li>
            </ul>
          </div>
        </div>
        <p>
          Lauréate de plusieurs concours internationaux, cette virtuose franco-suisse est l’invitée des principaux festivals européens et se produit dans les salles les plus prestigieuses. « Diapason d’or » 2011, Ophélie Gaillard, dont le Times saluait « le doigté de magicienne » nous fera partager sa passion pour le violoncelle. <%=link_to("En savoir plus...", ophelie_gaillard_path)%>
        </p>
      </div>
    </div><!--/subrow-->
    <div class="row sub-row">
        <div class="span3">
        <!--<a href="#" class="thumbnail">
          <img src="http://placehold.it/260x180" alt="">
        </a>-->
      </div>
      <div class="span9 offset3">
        <h4 class="red date">Samedi 1er septembre 17h. dans le parc du château de Tannay</h4>
        <h3><%=link_to("L'ENSEMBLE INTERMEZZO, sous la direction d’AHMED HAMDY, avec Joan Mompart, récitant", intermezzo_path, :class => 'hlink')%></h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="">
              <li>
                Poulenc, l’histoire de Babar le petit éléphant
              </li>
            </ul>
          </div>
        </div>
        <p>
          Etant destiné aux enfants, petits et grands, ce concert est gratuit. Dès 16h., il sera précédé d'un goûter offert aux enfants par la banque Mirabaud. <%=link_to("En savoir plus...", intermezzo_path)%>
        </p>
      </div>
    </div><!--/subrow-->
    <div class="row sub-row">
      <div class="span3">
        <a href="<%=nemanja_radulovic_et_laure_favre_kahn_path%>" class="thumbnail">
          <%= image_tag "1Nemanja260.jpg" %>
        </a>
      </div>
      <div class="span9">
        <h4 class="red date">Samedi 1 septembre 20h.30 dans le parc du château de Tannay</h4>
        <h3><%=link_to("NEMANJA RADULOVIC violon et LAURE FAVRE-KAHN piano avec la CAMERATA MENUHIN", nemanja_radulovic_et_laure_favre_kahn_path, :class => 'hlink')%> </h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="">
              <li>
                Vivaldi, concerto pour 4 violons en si min
              </li>
              <li>
                Holst, Suite St. Paul no. 1 pour orchestre à cordes
              </li>
              <li>
                Britten, simple symphony op. 4 pour orchestre à cordes
              </li>
              <li>
                Mendelssohn, double concerto en ré min. pour violon, piano et orchestre
              </li>
            </ul>
          </div>
        </div>
        <p>
          Révélation internationale de l’année 2005 et nominé en 2012 aux « Victoires de la Musique », Nemanja Radulovic s’est produit avec les plus grands orchestres en Europe, en Asie et en Amérique. « Au-delà de ses prouesses techniques, ce brillant interprète doit sa renommée à sa capacité d’entrer en communion avec son public : pas d’artifice, mais une attitude profondément généreuse ». <%=link_to("En savoir plus...", nemanja_radulovic_et_laure_favre_kahn_path)%>
        </p>
      </div>
    </div><!--/subrow-->
    <div class="row sub-row">
      <div class="span3">
        <a href="<%=khatia_et_gvantsa_buniatishvili_path%>" class="thumbnail">
         <%= image_tag "1Khatia260.jpg" %>
        </a>
      </div>
      <div class="span9">
        <h4 class="red date">Dimanche 2 septembre 17h. dans le parc du château de Tannay</h4>
        <h3><%=link_to("KHATIA ET GVANTSA BUNIATISHVILI pianistes", khatia_et_gvantsa_buniatishvili_path, :class => 'hlink')%></h3>
        <div class="span8 offset1">
          <div class="music">
            <ul class="">
              <li>
                Schubert, fantaisie pour piano à 4 mains en fa min., D 940
              </li>
              <li>
                Rachmaninov, suite no. 2 pour deux pianos, op.17
              </li>
              <li>
                Gershwin, fantaisie pour deux pianos « Porgy and Bess »
              </li>
              <li>
                Ravel, valse pour deux pianos
              </li>
            </ul>
          </div>
        </div>
        <p>
          « Khatia Buniatishvili a tout pour plaire : un passé d’enfant prodige, des récompenses multiples, un port de reine, un sourire gourmand ». Celle que beaucoup considèrent comme une « nouvelle Martha Argerich » est sans doute l’un des plus grand talents qu’on puisse entendre aujourd’hui. Elle se produit ici avec sa soeur Gvantsa Buniatishvili, elle-même pianiste de renom. <%=link_to("En savoir plus...", khatia_et_gvantsa_buniatishvili_path)%>
        </p>
      </div>
    </div><!--/subrow-->
  </div>
</div><!--/.fluid-container-->
