<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gallery %>
    <%= f.text_field :gallery %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit 'Upload' %>
  </div>
<% end %>