<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="<%=root_path%>">VARIATIONS MUSICALES DE TANNAY</small></a>
      <div class="nav-collapse pull-right">
        <ul class="nav" style="align:right">
          <li class= "<%=cp(root_path)%>" >
          <%=link_to("Accueil", root_path) %></li>
          <!--<li class= "<%=cp(programme_path)%>" >
          <%=link_to("Programme", programme_path) %></li>-->
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#programme">Programme</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%=link_to("Programme 2014", programme2014_path)%></li>
              <li><%=link_to("Programme 2013", programme2013_path)%></li>
              <li><%=link_to("Programme 2012", programme2012_path)%></li>
              <li><%=link_to("Programme 2011", programme2011_path)%></li>
            </ul>
          </li>
          <li class= "<%=cp(billetterie_path)%>" >
          <%=link_to("Billetterie", billetterie_path) %></li>
          <li class= "<%=cp(photos_path)%>" >
          <%=link_to("Photos", photos_path) %></li>
          <li class= "<%=cp(presse_path)%>" >
          <%=link_to("Presse", presse_path)%></li>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">L'Association</a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li><%=link_to("Bénévolat & Soutien", association_path)%></li>
              <li><%=link_to("Comité & Statuts", status_path)%></li>
            </ul>
          </li>
          <li class= "<%=cp(contact_path)%>" >
          <%=link_to("Contact", contact_path) %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
</header>
  <div class="container">
  <div class="row" style="padding-bottom:30px">
      <div class="span3">
        <%= image_tag "vmt_logo_2014_270.png", :stlye => "position:center" %>
      </div>
      <div class="span9">
        <!--<div id="myCarousel" class="carousel slide" style="padding-top:30px">
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item"><%= image_tag "2013Banner1.jpg"%>
              <!--<div class="carousel-caption">
                <h4>Laure Favre-Kahn</h4>
              </div>-->
            </div>
            <div class="item"><%= image_tag "2013Banner2.jpg"%>
              <!--<div class="carousel-caption">
                <h4>Ophélie Gaillard</h4>
              </div>-->
            </div>
            <div class="item"><%= image_tag "2013Banner3.jpg"%>
              <!--<div class="carousel-caption">
                <h4>Khatia Buniatishvili</h4>
              </div>-->
            </div>
            
          </div>

          <!-- Carousel nav 
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
        </div>
      </div>
      <div id="fb-root"></div>
          <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-follow" data-href="https://www.facebook.com/musicalestannay" data-show-faces="false" data-width="500"></div>
    </div>
  </div>
  <script>
    $('.carousel').carousel()
  </script>

